@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.missionStatement{
    background-color: #f3f3f3be;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    /* margin: 20px; */
}

.credentials {
    background-color: #f3f3f3be;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

.home-body {
    background-image: url("./images/forest-background.jpg");
    background-size: cover;
    min-height: 100vh;
}

span {
    display: flex;
    align-items: center;
}

.logoText{
    color: var(--green);
    z-index: 1;
    position: relative;
    scale: 0.8;
    margin-top: -64px;
    margin-left: -20px;
}
.animation-container {
    position: relative;
    scale:1.4;
    /* z-index: 1; */
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}

.logo-text {
    display: flex;
    align-items: flex-end;
    font-weight: 15;
    
}

.logo-text>span:first-child {
    margin-right: -25px;
    z-index: 2;
}

.logo-text>span:last-child {
    margin-left: -32px;
    z-index: 2;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 0;
    padding-right: 10px;
    background-color: var(--green);
    z-index: 999;
    margin-bottom: 30px;
}

.modalMenuItem {
    background-color: var(--green);
    color: white;
    padding: 8px;
    border-radius: 3px;
    width: 100%;
}

.nav-1 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.nav-1 li {
    margin-right: 40px;
}

#nav-font {
    text-decoration: none;
    color: inherit;
}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: #4876522c;
    margin-left: 70vh;
    margin-right: 70vh;
}

.adviceDisplay {
    text-align: center;
}

.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.footer {
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: 600;
    /* font-family: 'Josefin Sans', sans-serif;
    font-size: x-large; */
    padding: 0;
   
    background-color: var(--green);
    color: #fff;
}

.github-links {
    display: flex;
}

#andrea-github,
#jorgen-github,
#melissa-github,
#brandon-github {
    padding-left: 5px;
}

.up-btn {
    margin-left: -15vh
}

.up-btn:hover {
    cursor: pointer;
    color: #8ea574;
}

.advice-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.advice-item.show {
    opacity: 1;
}

.advice-description {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.advice-item:hover .advice-description {
    display: block;
}

.aqi-box {
    background-color: #3963512f;
    border-radius: 20px;
    height: 20vh;
    width: 40vh;
    padding: 20px
}

#aqi-header {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    padding-bottom: 20%;
}

.home-top {
    /* width: 100vh; */
    /* height: 40vh; */
    display: flex;
    padding: 10px;
    /* align-items: inline; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 2vh;
}

.advice-box {
    background-color: #3963512f;
    border-radius: 20px;
    text-align: center;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30px;
}

.hamburgerLine {
    width: 25px;
    height: 2px;
    background-color: red;
}