@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply py-2 px-4 text-white font-semibold rounded-lg shadow-md  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .donate-intro-text{
    @apply lg:col-start-3 lg:col-end-7 col-start-2 col-end-6 place-self-center text-4xl sm:text-7xl font-bold text-slate-700 mt-3 mr-3
  }
  .donate-titles{
    @apply sm:my-4 text-3xl sm:text-5xl font-bold text-slate-700 leading-snug
  }
  .donate-text{
    @apply my-5 text-base sm:text-xl text-slate-600
  }
  .donate-points{
    @apply lg:col-start-2 lg:col-end-4 mb-3 col-start-2 col-end-6
  }
  .donate-points-text{
    @apply pl-2 text-base sm:text-lg text-slate-600
  }
  .donate-button{
    @apply lg:col-start-4 lg:col-end-5 place-self-start col-start-2 col-end-6
  }
}
:root{
  --green: #7ea877
}
.btn-primary{
  background-color: var(--green);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.btn-primary:hover{
  scale:1.05;
}
.donate-button:hover{
  scale:1.05;
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
