.impactButton  {
    border: none;
    border-radius: 20px; /* Makes the button round */
    background-color: rgb(35, 78, 35); /* Sets the background color to sage green */
    color: white; /* Sets the text color to white */
    padding: 10px 20px; /* Optional: Adds some padding to the button */
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 1);
    margin: 20px;
  }