.impactModal .impactOverlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.impactOverlay {
    background: rgba(73, 73, 73, 0);
    backdrop-filter: blur(10px);
}

.impactModalContent{ 
    font-family: sans-serif;
    font-size: medium;
    margin: 10px;
    position:fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background: white;
    padding: 15px;
    max-width: 90%;
    min-width:50%;
    border-radius: 10px;
    box-shadow: 15px 15px 22px -2px rgba(0, 0, 0, 0.435);
    margin-top: 75px;
    max-height: calc(80vh); 
    overflow-y: auto;
    
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.impactModalContent h2{
    font-size: 25px;
    margin: 20px;
    padding: 5px;
    border-bottom: solid 2px #7ea87749;
}

.impactModalContent form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impactModalContent option {
    text-align: center;
}

.impactModalContent select{
    display: block;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 5px;
    margin-bottom: 20px;
    border: solid 1px rgba(0, 0, 0, 0.501);
}

.modalCloseButton {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 5px;
    background: none;
    background-color: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

.modalButton{

    border: none;
    border-radius: 20px; /* Makes the button round */
    background-color: #7ea877; /* Sets the background color to sage green */
    color: white; /* Sets the text color to white */
    padding: 10px 20px; /* Optional: Adds some padding to the button */
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.impactModalContent input{
    background-color: white;
    border: solid 1px #0000007f;
}

.actionSelection{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}